@tailwind base;
@tailwind components;
@tailwind utilities;

.borelType {
  font-family: "Borel", cursive;
}

.caveatType {
  font-family: 'Dancing Script', cursive;
}

.caveatTypeTitle {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}
