@tailwind base;
@tailwind components;
@tailwind utilities;

.borelType {
  font-family: "Borel", cursive;
}

.eduSaType {
  font-family: "Edu SA Beginner", cursive;
}

.eduSaTypeTitle {
  font-family: "Edu SA Beginner", cursive;
  font-weight: 500;
}
